<div class="container">

    <h2>Salvar Contato</h2>

    <form (ngSubmit)="onSubmit()" #contatoForm="ngForm" novalidate>
        <div [ngClass]="getFormGroupClass(nome.valid, nome.pristine)">
            <label for="nome" class="form-control-label">Nome</label>
            <input type="text" [ngClass]="getFormControlClass(nome.valid, nome.pristine)" #nome="ngModel" name="nome"
                [(ngModel)]="contato.nome" required>
            <div class="form-control-feedback" [hidden]="nome.valid || nome.pristine">O campo nome é obrigatório</div>
        </div>

        <div [ngClass]="getFormGroupClass(telefone.valid, telefone.pristine)">
            <label for="telefone">Telefone</label>
            <input type="tel" maxlength="15" pattern="\([0-9]{2}\)[0-9]{5}-[0-9]{4}$" [ngClass]="getFormControlClass(telefone.valid, telefone.pristine)" #telefone="ngModel" name="telefone"
                [(ngModel)]="contato.telefone" required>
            <div class="form-control-feedback" [hidden]="telefone.valid || telefone.pristine">O campo telefone é obrigatório</div>
        </div>

        <div [ngClass]="getFormGroupClass(email.valid, email.pristine)">
            <label for="email">Email</label>
            <input type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" [ngClass]="getFormControlClass(email.valid, email.pristine)" #email="ngModel" name="email"
                [(ngModel)]="contato.email" required>
            <div class="form-control-feedback" [hidden]="email.valid || email.pristine">O campo email é obrigatório</div>
        </div>

        <button type="submit" class="btn btn-success" [disabled]="!contatoForm.form.valid">Salvar</button>
        <button class="btn btn-secondary" (click)="goBack()">Voltar</button>
    </form>

</div>