<div class="conteiner">
	<div class="row">
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
			<h3>Busca</h3>

			<div class="form-group">
				<label for="search"></label>
				<input type="search" class="form-control" #searchBox (keyup)="search(searchBox.value)">
			</div>

			<ul class="list-group">
				<li class="list-group-item" *ngFor="let contato of contatos | async">{{ contato.nome }}</li>
			</ul>

		</div>
	</div>
</div>