<nav class="navbar navbar-light bg-faded">
    <a class="navbar-brand" routerLink="/">Contatos</a>
    <ul class="nav navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" routerLink="/">Home
                <span class="sr-only">(current)</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/contato/save">Novo</a>
        </li>
    </ul>
    <form class="form-inline float-xs-right">
        <input class="form-control" type="text" placeholder="Search" name="busca">
        <button class="btn btn-outline-success" type="submit">Search <i class="fa fa-search"></i></button>
    </form>
</nav>

<router-outlet></router-outlet>

<contatos-busca></contatos-busca>